*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Ubuntu" ,sans-serif;
    font-weight: 300;
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    min-height: 100vh;
}
