@use "../abstract/colors";
@use "../abstract/variables";
@use "../abstract/mixins";

.happiness__header{
    width: 100%;
    height: 8rem;
    box-shadow: 0rem 0rem 2rem .1rem rgba(0,0,0, .5);
    @include mixins.flexCenter;
    gap: 2rem;
}

.happiness__icon{
    font-size: variables.$icon4rem;
}

