@use "../abstract/colors";

.happiness{
    width: 100%;
    height: calc(100vh - 10rem - 5rem);
    display: flex;
    margin-top: 2rem;
    gap: 2rem;


    &__section{
        width: 100%;
        height: 100%;

        &--left{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        &--right{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0rem 2rem;
        gap: 2rem;
        width: 80%;
        height: 80%;
        background: green;
    }

    &__li{
        position: relative;
        display: flex;
        flex-direction: row;
        list-style: none;
        width: 38%;
        height: 40%;

        &:hover{
            cursor: pointer;
        }
    }

    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__p{
        position: absolute;

        &--date{
            top: 1%;
            right: 1%;
        }

        &--title{
            bottom: 1%;
        }
    }

// right section

    .detail{

        &__ul{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 80%;
            height: 80%;
        }

        &__li{
            list-style: none;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90%;
            height: 90%;

            &:nth-child(1){
                max-width: 30rem;
            }
        }

        &__img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &__p{

            &--date{
                top: 1%;
                right: 1%;
                position: absolute;
            }

            &--title{
                bottom: 1%;
                position: absolute;
            }

            &--summary{
                
            }

        }

        &__group{
            display: flex;
            justify-content: space-between;
            position: absolute;
            width: 100%;
        }

        &__download{
            width: 20rem;
            height: 3rem;
            background: colors.$headercolor;
            border: none;
            border-radius: .5rem;
            font-size: 2rem;

            &:hover{
                cursor: pointer;
            }
        }

        &__link{
            text-decoration: none;
            color: black;
        }
    }

}







