$fontSize: 2rem;

$icon4rem: 4rem;
$icon3rem: 3rem;

$fontSizeDetailGroup: 90%;

$fontSizeMedia950:(
    "h1": 150%,
    "imgtext": 85%,
    "summary": 90%
);

$summary80: 80%;

$title: 90%;

$fontSizeMedia700:(
    "summary": 80%,
    "date": 90%,
    "title": 90%
);

$fontSizeMedia600:(
    "h1": 140%,
    "pDate": 70%,
);

$footerMedia:(
    "footer90": 90%,
    "footer80": 80%
);
